<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ordercomfirmation</name>
	<displayName><![CDATA[ordercomfirmation]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[ordercomfirmation module to simplify linda\'s task]]></description>
	<author><![CDATA[cerine]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
