{% extends '@PrestaShop/Admin/Sell/Order/Order/Blocks/View/history.html.twig' %}

{% block content %}
    {# Add your additional inputs here #}
    <div>
        <label for="custom_input">Custom Input:</label>
        <input type="text" id="custom_input" name="custom_input">
    </div>
{% endblock %}
